/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'EXPANSIONHUNTER_MODULE' {
        ext.args =  { ("${meta.sex}" == '1') ? '--sex male' : '--sex female' }
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: {"${params.outdir}/${meta.case_id}/expansionhunter/${meta.id}/"},
            pattern: "*{.vcf.gz, bam, json.gz}",
            mode: params.publish_dir_mode
        ]
    }

    withName: 'BCFTOOLS_NORM' {
        ext.args = '--output-type z --multiallelics -both'
        ext.prefix = { "${meta.id}_split_exp" }
        publishDir = [
            enabled: false
        ]
    }

    withName: 'TABIX_TABIX' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'STRANGER' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'BCFTOOLS_REHEADER' {
        ext.args   = "--temp-prefix ."
        ext.args2  = "-O v"
        ext.prefix = { "${meta.id}_repeat_expansion" }
        publishDir = [
            enabled: false
        ]
    }

    withName: 'PICARD_RENAMESAMPLEINVCF' {
        ext.args   = {"--NEW_SAMPLE_NAME ${meta.phenotype}"}
        publishDir = [
            enabled: false
        ]
    }

    withName: 'SVDB_MERGE' {
        ext.args = {"--notag"}
        publishDir = [
            path: {"${params.outdir}/${meta.case_id}/annotation"},
            pattern: "*{.vcf.gz}",
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
