/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run odcf/expansionhunter -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}
params {
    config_profile_name             = 'Test profile'
    config_profile_description      = 'Minimal test dataset to check pipeline function'
    pipelines_testdata_base_path    = 'https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/'

    input                           = params.pipelines_testdata_base_path + 'testdata/samplesheet_bam.csv'
    fasta                           = params.pipelines_testdata_base_path + 'reference/reference.fasta'
    fai                             = params.pipelines_testdata_base_path + 'reference/reference.fasta.fai'
    variant_catalog                 = params.pipelines_testdata_base_path + 'reference/variant_catalog.json'

    outdir = "results"

}
